name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Setup key
      - run: set -eu
      - run: mkdir "$HOME/.ssh"
      - run: echo "${{ secrets.key }}" > "$HOME/.ssh/id_ed25519"
      - run: chmod 600 "$HOME/.ssh/id_ed25519"
      # Deploy
      - run: cd colyseus-examples/src && rsync -azvhPL -e "ssh -p 22 -i $HOME/.ssh/id_ed25519 -o StrictHostKeyChecking=no" --archive --compress --delete . root@194.226.139.113:/root/Shooter/src
